[submodule "cpp_learning"]
	path = cpp_learning
	url = https://github.com/beidongjiedeguang/cpp_learning.git
[submodule "guang"]
	path = guang
	url = https://github.com/beidongjiedeguang/guang.git
[submodule "pixelshift"]
	path = pixelshift
	url = https://github.com/beidongjiedeguang/pixelshift.git
